<!DOCTYPE html>
<html lang="en">
<head>

    <!--Milligram stylesheet-->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">


    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Temporarily Sample Category Table</h1>

<table>
    <tr>
        <th>CATEGORY</th>
        <th>TOTAL AMOUNT</th>
        <th>BUDGETED AMOUNT</th>
        <th>DIFFERENCE</th>
    </tr>

    <tr>
        <td>MORTGAGE/RENT</td>
        <td>800</td>
        <td>800</td>
        <td>0</td>
    </tr>
    <tr>
        <td>UTILITIES</td>
        <td>278</td>
        <td>338</td>
        <td>+60</td>
    </tr>
    <tr>
        <td>EATING OUT</td>
        <td>125</td>
        <td>85</td>
        <td>-40</td>
    </tr>
    <tr>
        <td>PETS</td>
        <td>0</td>
        <td>100</td>
        <td>100</td>
    </tr>


    <!--<tr th:each="task : ${tasks}">-->
        <!--<td th:text="${task.dayt}"></td>-->
        <!--<td th:text="${task.amount}"></td>-->
        <!--<td th:text="${task.description}"></td>-->
        <!--<td th:text="${task.category}"></td>-->

    <!--</tr>-->

</table>

<a href="/">Add a new task</a><br>
<a href="/allTasks">All Tasks</a><br>

</body>
</html>